In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('tsne_results_assembly.xlsx')
df['Dataset'] = 'English Assembly'
df

               Dataset            X           Y Label type Label
0     English Assembly    1.1523198  -17.623642   Descrete   sad
1     English Assembly    11.280699    8.915481   Descrete   ang
2     English Assembly   -3.7782803  -3.9217908   Descrete   fru
3     English Assembly    3.8108141  -15.613522   Descrete   sur
4     English Assembly    -9.526802  0.13750802   Descrete   neu
...                ...          ...         ...        ...   ...
4995  English Assembly    15.242076  -2.6391747   Descrete   ang
4996  English Assembly  -10.3483095   1.0357186   Descrete   fea
4997  English Assembly   -3.8254209   10.653785   Descrete   hap
4998  English Assembly     -2.98499   2.0803154   Descrete   neu
4999  English Assembly  -0.13601471   15.176824   Descrete   hap

[5000 rows x 5 columns]

In [7]:
df.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
cal         49   49   49          49
dis        494  494  494         494
exc        260  260  260         260
fea        494  494  494         494
fru        469  469  469         469
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770
sur        168  168  168         168

In [9]:
df1 = df.copy()

In [10]:
df1['Label type'] = 'Binary'
df1

               Dataset            X           Y Label type Label
0     English Assembly    1.1523198  -17.623642     Binary   sad
1     English Assembly    11.280699    8.915481     Binary   ang
2     English Assembly   -3.7782803  -3.9217908     Binary   fru
3     English Assembly    3.8108141  -15.613522     Binary   sur
4     English Assembly    -9.526802  0.13750802     Binary   neu
...                ...          ...         ...        ...   ...
4995  English Assembly    15.242076  -2.6391747     Binary   ang
4996  English Assembly  -10.3483095   1.0357186     Binary   fea
4997  English Assembly   -3.8254209   10.653785     Binary   hap
4998  English Assembly     -2.98499   2.0803154     Binary   neu
4999  English Assembly  -0.13601471   15.176824     Binary   hap

[5000 rows x 5 columns]

In [12]:
df.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
cal         49   49   49          49
dis        494  494  494         494
exc        260  260  260         260
fea        494  494  494         494
fru        469  469  469         469
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770
sur        168  168  168         168

In [15]:
df = df.loc[(df['Label'] == 'ang') | (df['Label'] == 'hap') | (df['Label'] == 'neu') | (df['Label'] == 'sad') | (df['Label'] == 'dis') | (df['Label'] == 'fea')]
df.groupby('Label').count()
df

               Dataset            X             Y Label type Label
0     English Assembly    1.1523198    -17.623642   Descrete   sad
1     English Assembly    11.280699      8.915481   Descrete   ang
4     English Assembly    -9.526802    0.13750802   Descrete   neu
5     English Assembly   -17.150776  0.0027496452   Descrete   dis
6     English Assembly    11.071341     -9.280964   Descrete   neu
...                ...          ...           ...        ...   ...
4995  English Assembly    15.242076    -2.6391747   Descrete   ang
4996  English Assembly  -10.3483095     1.0357186   Descrete   fea
4997  English Assembly   -3.8254209     10.653785   Descrete   hap
4998  English Assembly     -2.98499     2.0803154   Descrete   neu
4999  English Assembly  -0.13601471     15.176824   Descrete   hap

[4054 rows x 5 columns]

In [16]:
df1.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
cal         49   49   49          49
dis        494  494  494         494
exc        260  260  260         260
fea        494  494  494         494
fru        469  469  469         469
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770
sur        168  168  168         168

In [18]:
df1.loc[(df1['Label'] == 'ang') | (df1['Label'] == 'sad') | (df1['Label'] == 'fru') | (df1['Label'] == 'dis') | (df1['Label'] == 'fea'), 'Label'] = 'neg'
df1

               Dataset            X           Y Label type Label
0     English Assembly    1.1523198  -17.623642     Binary   neg
1     English Assembly    11.280699    8.915481     Binary   neg
2     English Assembly   -3.7782803  -3.9217908     Binary   neg
3     English Assembly    3.8108141  -15.613522     Binary   sur
4     English Assembly    -9.526802  0.13750802     Binary   neu
...                ...          ...         ...        ...   ...
4995  English Assembly    15.242076  -2.6391747     Binary   neg
4996  English Assembly  -10.3483095   1.0357186     Binary   neg
4997  English Assembly   -3.8254209   10.653785     Binary   hap
4998  English Assembly     -2.98499   2.0803154     Binary   neu
4999  English Assembly  -0.13601471   15.176824     Binary   hap

[5000 rows x 5 columns]

In [19]:
df1.loc[df1['Label'] != 'neg', 'Label'] = 'rest'
df1

               Dataset            X           Y Label type Label
0     English Assembly    1.1523198  -17.623642     Binary   neg
1     English Assembly    11.280699    8.915481     Binary   neg
2     English Assembly   -3.7782803  -3.9217908     Binary   neg
3     English Assembly    3.8108141  -15.613522     Binary  rest
4     English Assembly    -9.526802  0.13750802     Binary  rest
...                ...          ...         ...        ...   ...
4995  English Assembly    15.242076  -2.6391747     Binary   neg
4996  English Assembly  -10.3483095   1.0357186     Binary   neg
4997  English Assembly   -3.8254209   10.653785     Binary  rest
4998  English Assembly     -2.98499   2.0803154     Binary  rest
4999  English Assembly  -0.13601471   15.176824     Binary  rest

[5000 rows x 5 columns]

In [20]:
df = pd.concat([df, df1], ignore_index=True)
df

               Dataset            X             Y Label type Label
0     English Assembly    1.1523198    -17.623642   Descrete   sad
1     English Assembly    11.280699      8.915481   Descrete   ang
2     English Assembly    -9.526802    0.13750802   Descrete   neu
3     English Assembly   -17.150776  0.0027496452   Descrete   dis
4     English Assembly    11.071341     -9.280964   Descrete   neu
...                ...          ...           ...        ...   ...
9049  English Assembly    15.242076    -2.6391747     Binary   neg
9050  English Assembly  -10.3483095     1.0357186     Binary   neg
9051  English Assembly   -3.8254209     10.653785     Binary  rest
9052  English Assembly     -2.98499     2.0803154     Binary  rest
9053  English Assembly  -0.13601471     15.176824     Binary  rest

[9054 rows x 5 columns]

In [21]:
df.to_csv('tsne_results_assembly.csv', sep=';', index=False)

In [22]:
df1 = pd.read_csv('tsne_results_assembly.csv', delimiter=';')
df1

               Dataset            X             Y Label type Label
0     English Assembly    1.1523198    -17.623642   Descrete   sad
1     English Assembly    11.280699      8.915481   Descrete   ang
2     English Assembly    -9.526802    0.13750802   Descrete   neu
3     English Assembly   -17.150776  0.0027496452   Descrete   dis
4     English Assembly    11.071341     -9.280964   Descrete   neu
...                ...          ...           ...        ...   ...
9049  English Assembly    15.242076    -2.6391747     Binary   neg
9050  English Assembly  -10.3483095     1.0357186     Binary   neg
9051  English Assembly   -3.8254209     10.653785     Binary  rest
9052  English Assembly     -2.98499     2.0803154     Binary  rest
9053  English Assembly  -0.13601471     15.176824     Binary  rest

[9054 rows x 5 columns]