In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tsne_results.csv', delimiter=';')
df

,Dataset,X,Y,Label type,Label
0,English Assembly Six,-8.211324000000001,-1.6098322,Descrete,hap
1,English Assembly Six,-1.1740853999999998,-4.767681,Descrete,neu
2,English Assembly Six,3.4244296999999997,11.240694,Descrete,ang
3,English Assembly Six,-9.817292,3.5979660000000004,Descrete,neu
4,English Assembly Six,12.814199,-13.830514,Descrete,fea
...,...,...,...,...,...
11737,Emo-DB,1.0229304,3.6964674,Binary,rest
11738,Emo-DB,-8.329073,-11.604169,Binary,neg
11739,Emo-DB,-8.987592999999997,-11.300163000000001,Binary,neg
11740,Emo-DB,18.990128,-7.925689699999999,Binary,neg
11741,Emo-DB,22.039473,-8.479522,Binary,neg

In [3]:
grp = df.groupby('Dataset').count()
grp

                         X     Y  Label type  Label
Dataset
Crema-D               2000  2000        2000   2000
Emo-DB                1070  1070        1070   1070
English Assembly Six  1712  1712        1712   1712
IEMOCAP               2000  2000        2000   2000
RAVDESS               2000  2000        2000   2000
SAVEE                  960   960         960    960
TESS                  2000  2000        2000   2000

In [ ]:
df['Binary label'] = df['Label (binary)']
df

In [ ]:
df = df.drop(['Predicted label', 'True label', 'Label (descrete)', 'Label (binary)', 'Confusion matrix array'], axis=1)
df

In [ ]:
df = df.drop('Container', axis=1)
df

In [ ]:
df.loc[df['Binary label'] == 'not', 'Binary label'] = 'rest'

In [ ]:
df

In [ ]:
df['Label type'] = 'Descrete'

In [ ]:
df

In [ ]:
df['Label'] = df['Descrete label']
df

In [ ]:
df1 = df.copy()
df1

In [ ]:
df1['Label type'] = 'Binary'
df1['Label'] = df1['Binary label']
df1

In [ ]:
final_df = pd.concat([df, df1], ignore_index=True)
final_df

In [ ]:
f = final_df.groupby('Label type').count()

In [ ]:
final_df = final_df.drop(['Descrete label', 'Binary label'], axis=1)
final_df

In [ ]:
final_df.to_csv('tsne_results.csv', sep=';', index=False)

In [ ]:
final_df.groupby('Dataset').count()

In [ ]:
final_df.loc[final_df['Dataset'] == 'IEmoCap', 'Dataset'] = 'IEMOCAP'
final_df.groupby('Dataset').count()

In [ ]:
df = final_df.copy()

In [ ]:
df

In [ ]:
df = df.loc[df['Dataset'] == 'English Assembly Six']
df

In [ ]:
df.groupby('Label').count()

In [ ]:
df = df.drop(df[df.Label == 'cal'].index)
df = df.drop(df[df.Label == 'dis'].index)
df = df.drop(df[df.Label == 'exc'].index)
df = df.drop(df[df.Label == 'fru'].index)
df = df.drop(df[df.Label == 'sur'].index)
df.groupby('Label').count()

In [ ]:
df

In [ ]:
final_df

In [ ]:
final_df = final_df.drop(final_df[final_df.Dataset == 'English Assembly Six'].index)
final_df

In [ ]:
final_df = pd.concat([df, final_df], ignore_index=True)
final_df

In [ ]:
final_df.to_csv('tsne_results.csv', sep=';', index=False)

In [13]:
grp

                         X     Y  Label type  Label
Dataset
Crema-D               2000  2000        2000   2000
Emo-DB                1070  1070        1070   1070
English Assembly Six  1712  1712        1712   1712
IEMOCAP               2000  2000        2000   2000
RAVDESS               2000  2000        2000   2000
SAVEE                  960   960         960    960
TESS                  2000  2000        2000   2000

KeyError: 'Dataset'