In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('tsne_results_assembly.csv', delimiter=';')
df

                   Dataset          X          Y Label type Label
0     english-assembly-six   1.152320 -17.623642   Descrete   sad
1     english-assembly-six  11.280699   8.915481   Descrete   ang
2     english-assembly-six  -3.778280  -3.921791   Descrete   fru
3     english-assembly-six   3.810814 -15.613522   Descrete   sur
4     english-assembly-six  -9.526802   0.137508   Descrete   neu
...                    ...        ...        ...        ...   ...
4995  english-assembly-six  15.242076  -2.639175   Descrete   ang
4996  english-assembly-six -10.348310   1.035719   Descrete   fea
4997  english-assembly-six  -3.825421  10.653785   Descrete   hap
4998  english-assembly-six  -2.984990   2.080315   Descrete   neu
4999  english-assembly-six  -0.136015  15.176824   Descrete   hap

[5000 rows x 5 columns]

In [4]:
df.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
cal         49   49   49          49
dis        494  494  494         494
exc        260  260  260         260
fea        494  494  494         494
fru        469  469  469         469
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770
sur        168  168  168         168

In [5]:
df1 = df.copy()

In [6]:
df1['Label type'] = 'Binary'
df1

                   Dataset          X          Y Label type Label
0     english-assembly-six   1.152320 -17.623642     Binary   sad
1     english-assembly-six  11.280699   8.915481     Binary   ang
2     english-assembly-six  -3.778280  -3.921791     Binary   fru
3     english-assembly-six   3.810814 -15.613522     Binary   sur
4     english-assembly-six  -9.526802   0.137508     Binary   neu
...                    ...        ...        ...        ...   ...
4995  english-assembly-six  15.242076  -2.639175     Binary   ang
4996  english-assembly-six -10.348310   1.035719     Binary   fea
4997  english-assembly-six  -3.825421  10.653785     Binary   hap
4998  english-assembly-six  -2.984990   2.080315     Binary   neu
4999  english-assembly-six  -0.136015  15.176824     Binary   hap

[5000 rows x 5 columns]

In [7]:
df.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
cal         49   49   49          49
dis        494  494  494         494
exc        260  260  260         260
fea        494  494  494         494
fru        469  469  469         469
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770
sur        168  168  168         168

In [9]:
df = df.loc[(df['Label'] == 'ang') | (df['Label'] == 'hap') | (df['Label'] == 'neu') | (df['Label'] == 'sad') | (df['Label'] == 'dis') | (df['Label'] == 'fea')]
df.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
dis        494  494  494         494
fea        494  494  494         494
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770

In [10]:
df1.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
cal         49   49   49          49
dis        494  494  494         494
exc        260  260  260         260
fea        494  494  494         494
fru        469  469  469         469
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770
sur        168  168  168         168

In [11]:
df1.loc[(df1['Label'] == 'ang') | (df1['Label'] == 'sad') | (df1['Label'] == 'fru') | (df1['Label'] == 'dis') | (df1['Label'] == 'fea'), 'Label'] = 'neg'
df1

                   Dataset          X          Y Label type Label
0     english-assembly-six   1.152320 -17.623642     Binary   neg
1     english-assembly-six  11.280699   8.915481     Binary   neg
2     english-assembly-six  -3.778280  -3.921791     Binary   neg
3     english-assembly-six   3.810814 -15.613522     Binary   sur
4     english-assembly-six  -9.526802   0.137508     Binary   neu
...                    ...        ...        ...        ...   ...
4995  english-assembly-six  15.242076  -2.639175     Binary   neg
4996  english-assembly-six -10.348310   1.035719     Binary   neg
4997  english-assembly-six  -3.825421  10.653785     Binary   hap
4998  english-assembly-six  -2.984990   2.080315     Binary   neu
4999  english-assembly-six  -0.136015  15.176824     Binary   hap

[5000 rows x 5 columns]

In [13]:
df1.loc[df1['Label'] != 'neg', 'Label'] = 'rest'
df

                   Dataset          X          Y Label type Label
0     english-assembly-six   1.152320 -17.623642   Descrete   sad
1     english-assembly-six  11.280699   8.915481   Descrete   ang
4     english-assembly-six  -9.526802   0.137508   Descrete   neu
5     english-assembly-six -17.150776   0.002750   Descrete   dis
6     english-assembly-six  11.071341  -9.280964   Descrete   neu
...                    ...        ...        ...        ...   ...
4995  english-assembly-six  15.242076  -2.639175   Descrete   ang
4996  english-assembly-six -10.348310   1.035719   Descrete   fea
4997  english-assembly-six  -3.825421  10.653785   Descrete   hap
4998  english-assembly-six  -2.984990   2.080315   Descrete   neu
4999  english-assembly-six  -0.136015  15.176824   Descrete   hap

[4054 rows x 5 columns]

In [14]:
final_df = pd.concat([df, df1], ignore_index=True)
final_df

                   Dataset          X          Y Label type Label
0     english-assembly-six   1.152320 -17.623642   Descrete   sad
1     english-assembly-six  11.280699   8.915481   Descrete   ang
2     english-assembly-six  -9.526802   0.137508   Descrete   neu
3     english-assembly-six -17.150776   0.002750   Descrete   dis
4     english-assembly-six  11.071341  -9.280964   Descrete   neu
...                    ...        ...        ...        ...   ...
9049  english-assembly-six  15.242076  -2.639175     Binary   neg
9050  english-assembly-six -10.348310   1.035719     Binary   neg
9051  english-assembly-six  -3.825421  10.653785     Binary  rest
9052  english-assembly-six  -2.984990   2.080315     Binary  rest
9053  english-assembly-six  -0.136015  15.176824     Binary  rest

[9054 rows x 5 columns]

In [15]:
final_df.to_csv('tsne_results_assembly.csv', sep=';', index=False)