In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tsne_results.csv', delimiter=';')
df

,Dataset,X,Y,Container,Predicted label,True label,Label (descrete),Label (binary),Confusion matrix array
0,SAVEE,11.072353,0.911463,TSNE,NaN,NaN,ang,neg,NaN
1,SAVEE,14.956626,5.550555,TSNE,NaN,NaN,ang,neg,NaN
2,SAVEE,4.128321,16.469158,TSNE,NaN,NaN,ang,neg,NaN
3,SAVEE,13.266447,4.610169,TSNE,NaN,NaN,ang,neg,NaN
4,SAVEE,13.021703,-1.583670,TSNE,NaN,NaN,ang,neg,NaN
...,...,...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,TSNE,NaN,NaN,dis,neg,NaN
6011,English Assembly Six,-6.013014,1.597887,TSNE,NaN,NaN,sad,neg,NaN
6012,English Assembly Six,-0.014189,-0.685387,TSNE,NaN,NaN,sad,neg,NaN
6013,English Assembly Six,8.882513,6.433124,TSNE,NaN,NaN,exc,not,NaN
6014,English Assembly Six,-9.972480,7.163386,TSNE,NaN,NaN,neu,not,NaN

In [3]:
df['Descrete label'] = df['Label (descrete)']
df

,Dataset,X,Y,Container,Predicted label,True label,Label (descrete),Label (binary),Confusion matrix array,Descrete label
0,SAVEE,11.072353,0.911463,TSNE,NaN,NaN,ang,neg,NaN,ang
1,SAVEE,14.956626,5.550555,TSNE,NaN,NaN,ang,neg,NaN,ang
2,SAVEE,4.128321,16.469158,TSNE,NaN,NaN,ang,neg,NaN,ang
3,SAVEE,13.266447,4.610169,TSNE,NaN,NaN,ang,neg,NaN,ang
4,SAVEE,13.021703,-1.583670,TSNE,NaN,NaN,ang,neg,NaN,ang
...,...,...,...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,TSNE,NaN,NaN,dis,neg,NaN,dis
6011,English Assembly Six,-6.013014,1.597887,TSNE,NaN,NaN,sad,neg,NaN,sad
6012,English Assembly Six,-0.014189,-0.685387,TSNE,NaN,NaN,sad,neg,NaN,sad
6013,English Assembly Six,8.882513,6.433124,TSNE,NaN,NaN,exc,not,NaN,exc
6014,English Assembly Six,-9.972480,7.163386,TSNE,NaN,NaN,neu,not,NaN,neu

In [5]:
df['Binary label'] = df['Label (binary)']
df

,Dataset,X,Y,Container,Predicted label,True label,Label (descrete),Label (binary),Confusion matrix array,Descrete label,Binary label
0,SAVEE,11.072353,0.911463,TSNE,NaN,NaN,ang,neg,NaN,ang,neg
1,SAVEE,14.956626,5.550555,TSNE,NaN,NaN,ang,neg,NaN,ang,neg
2,SAVEE,4.128321,16.469158,TSNE,NaN,NaN,ang,neg,NaN,ang,neg
3,SAVEE,13.266447,4.610169,TSNE,NaN,NaN,ang,neg,NaN,ang,neg
4,SAVEE,13.021703,-1.583670,TSNE,NaN,NaN,ang,neg,NaN,ang,neg
...,...,...,...,...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,TSNE,NaN,NaN,dis,neg,NaN,dis,neg
6011,English Assembly Six,-6.013014,1.597887,TSNE,NaN,NaN,sad,neg,NaN,sad,neg
6012,English Assembly Six,-0.014189,-0.685387,TSNE,NaN,NaN,sad,neg,NaN,sad,neg
6013,English Assembly Six,8.882513,6.433124,TSNE,NaN,NaN,exc,not,NaN,exc,not
6014,English Assembly Six,-9.972480,7.163386,TSNE,NaN,NaN,neu,not,NaN,neu,not

In [6]:
df = df.drop(['Predicted label', 'True label', 'Label (descrete)', 'Label (binary)', 'Confusion matrix array'], axis=1)
df

,Dataset,X,Y,Container,Descrete label,Binary label
0,SAVEE,11.072353,0.911463,TSNE,ang,neg
1,SAVEE,14.956626,5.550555,TSNE,ang,neg
2,SAVEE,4.128321,16.469158,TSNE,ang,neg
3,SAVEE,13.266447,4.610169,TSNE,ang,neg
4,SAVEE,13.021703,-1.583670,TSNE,ang,neg
...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,TSNE,dis,neg
6011,English Assembly Six,-6.013014,1.597887,TSNE,sad,neg
6012,English Assembly Six,-0.014189,-0.685387,TSNE,sad,neg
6013,English Assembly Six,8.882513,6.433124,TSNE,exc,not
6014,English Assembly Six,-9.972480,7.163386,TSNE,neu,not

In [7]:
df = df.drop('Container', axis=1)
df

                   Dataset          X          Y Descrete label Binary label
0                    SAVEE  11.072353   0.911463            ang          neg
1                    SAVEE  14.956626   5.550555            ang          neg
2                    SAVEE   4.128321  16.469158            ang          neg
3                    SAVEE  13.266447   4.610169            ang          neg
4                    SAVEE  13.021703  -1.583670            ang          neg
...                    ...        ...        ...            ...          ...
6010  English Assembly Six  -6.218473   6.244618            dis          neg
6011  English Assembly Six  -6.013014   1.597887            sad          neg
6012  English Assembly Six  -0.014189  -0.685387            sad          neg
6013  English Assembly Six   8.882513   6.433124            exc          not
6014  English Assembly Six  -9.972480   7.163386            neu          not

[6015 rows x 5 columns]

In [8]:
df.loc[df['Binary label'] == 'not', 'Binary label'] = 'rest'

In [23]:
df

,Dataset,X,Y,Descrete label,Binary label,Label type,Label
0,SAVEE,11.072353,0.911463,ang,neg,Binary,neg
1,SAVEE,14.956626,5.550555,ang,neg,Binary,neg
2,SAVEE,4.128321,16.469158,ang,neg,Binary,neg
3,SAVEE,13.266447,4.610169,ang,neg,Binary,neg
4,SAVEE,13.021703,-1.583670,ang,neg,Binary,neg
...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,dis,neg,Binary,neg
6011,English Assembly Six,-6.013014,1.597887,sad,neg,Binary,neg
6012,English Assembly Six,-0.014189,-0.685387,sad,neg,Binary,neg
6013,English Assembly Six,8.882513,6.433124,exc,rest,Binary,rest
6014,English Assembly Six,-9.972480,7.163386,neu,rest,Binary,rest

In [24]:
df['Label type'] = 'Descrete'

In [25]:
df

,Dataset,X,Y,Descrete label,Binary label,Label type,Label
0,SAVEE,11.072353,0.911463,ang,neg,Descrete,neg
1,SAVEE,14.956626,5.550555,ang,neg,Descrete,neg
2,SAVEE,4.128321,16.469158,ang,neg,Descrete,neg
3,SAVEE,13.266447,4.610169,ang,neg,Descrete,neg
4,SAVEE,13.021703,-1.583670,ang,neg,Descrete,neg
...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,dis,neg,Descrete,neg
6011,English Assembly Six,-6.013014,1.597887,sad,neg,Descrete,neg
6012,English Assembly Six,-0.014189,-0.685387,sad,neg,Descrete,neg
6013,English Assembly Six,8.882513,6.433124,exc,rest,Descrete,rest
6014,English Assembly Six,-9.972480,7.163386,neu,rest,Descrete,rest

In [26]:
df['Label'] = df['Descrete label']
df

,Dataset,X,Y,Descrete label,Binary label,Label type,Label
0,SAVEE,11.072353,0.911463,ang,neg,Descrete,ang
1,SAVEE,14.956626,5.550555,ang,neg,Descrete,ang
2,SAVEE,4.128321,16.469158,ang,neg,Descrete,ang
3,SAVEE,13.266447,4.610169,ang,neg,Descrete,ang
4,SAVEE,13.021703,-1.583670,ang,neg,Descrete,ang
...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,dis,neg,Descrete,dis
6011,English Assembly Six,-6.013014,1.597887,sad,neg,Descrete,sad
6012,English Assembly Six,-0.014189,-0.685387,sad,neg,Descrete,sad
6013,English Assembly Six,8.882513,6.433124,exc,rest,Descrete,exc
6014,English Assembly Six,-9.972480,7.163386,neu,rest,Descrete,neu

In [27]:
df1 = df.copy()
df1

,Dataset,X,Y,Descrete label,Binary label,Label type,Label
0,SAVEE,11.072353,0.911463,ang,neg,Descrete,ang
1,SAVEE,14.956626,5.550555,ang,neg,Descrete,ang
2,SAVEE,4.128321,16.469158,ang,neg,Descrete,ang
3,SAVEE,13.266447,4.610169,ang,neg,Descrete,ang
4,SAVEE,13.021703,-1.583670,ang,neg,Descrete,ang
...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,dis,neg,Descrete,dis
6011,English Assembly Six,-6.013014,1.597887,sad,neg,Descrete,sad
6012,English Assembly Six,-0.014189,-0.685387,sad,neg,Descrete,sad
6013,English Assembly Six,8.882513,6.433124,exc,rest,Descrete,exc
6014,English Assembly Six,-9.972480,7.163386,neu,rest,Descrete,neu

In [28]:
df1['Label type'] = 'Binary'
df1['Label'] = df1['Binary label']
df1

,Dataset,X,Y,Descrete label,Binary label,Label type,Label
0,SAVEE,11.072353,0.911463,ang,neg,Binary,neg
1,SAVEE,14.956626,5.550555,ang,neg,Binary,neg
2,SAVEE,4.128321,16.469158,ang,neg,Binary,neg
3,SAVEE,13.266447,4.610169,ang,neg,Binary,neg
4,SAVEE,13.021703,-1.583670,ang,neg,Binary,neg
...,...,...,...,...,...,...,...
6010,English Assembly Six,-6.218473,6.244618,dis,neg,Binary,neg
6011,English Assembly Six,-6.013014,1.597887,sad,neg,Binary,neg
6012,English Assembly Six,-0.014189,-0.685387,sad,neg,Binary,neg
6013,English Assembly Six,8.882513,6.433124,exc,rest,Binary,rest
6014,English Assembly Six,-9.972480,7.163386,neu,rest,Binary,rest

In [29]:
final_df = pd.concat([df, df1], ignore_index=True)
final_df

,Dataset,X,Y,Descrete label,Binary label,Label type,Label
0,SAVEE,11.072353,0.911463,ang,neg,Descrete,ang
1,SAVEE,14.956626,5.550555,ang,neg,Descrete,ang
2,SAVEE,4.128321,16.469158,ang,neg,Descrete,ang
3,SAVEE,13.266447,4.610169,ang,neg,Descrete,ang
4,SAVEE,13.021703,-1.583670,ang,neg,Descrete,ang
...,...,...,...,...,...,...,...
12025,English Assembly Six,-6.218473,6.244618,dis,neg,Binary,neg
12026,English Assembly Six,-6.013014,1.597887,sad,neg,Binary,neg
12027,English Assembly Six,-0.014189,-0.685387,sad,neg,Binary,neg
12028,English Assembly Six,8.882513,6.433124,exc,rest,Binary,rest
12029,English Assembly Six,-9.972480,7.163386,neu,rest,Binary,rest

In [30]:
f = final_df.groupby('Label type').count()

In [32]:
final_df = final_df.drop(['Descrete label', 'Binary label'], axis=1)
final_df

                    Dataset          X          Y Label type Label
0                     SAVEE  11.072353   0.911463   Descrete   ang
1                     SAVEE  14.956626   5.550555   Descrete   ang
2                     SAVEE   4.128321  16.469158   Descrete   ang
3                     SAVEE  13.266447   4.610169   Descrete   ang
4                     SAVEE  13.021703  -1.583670   Descrete   ang
...                     ...        ...        ...        ...   ...
12025  English Assembly Six  -6.218473   6.244618     Binary   neg
12026  English Assembly Six  -6.013014   1.597887     Binary   neg
12027  English Assembly Six  -0.014189  -0.685387     Binary   neg
12028  English Assembly Six   8.882513   6.433124     Binary  rest
12029  English Assembly Six  -9.972480   7.163386     Binary  rest

[12030 rows x 5 columns]

In [36]:
final_df.to_csv('tsne_results.csv', sep=';', index=False)

In [34]:
final_df.groupby('Dataset').count()

                         X     Y  Label type  Label
Dataset
Crema-D               2000  2000        2000   2000
Emo-DB                1070  1070        1070   1070
English Assembly Six  2000  2000        2000   2000
IEmoCap               2000  2000        2000   2000
RAVDESS               2000  2000        2000   2000
SAVEE                  960   960         960    960
TESS                  2000  2000        2000   2000

In [35]:
final_df.loc[final_df['Dataset'] == 'IEmoCap', 'Dataset'] = 'IEMOCAP'
final_df.groupby('Dataset').count()

                         X     Y  Label type  Label
Dataset
Crema-D               2000  2000        2000   2000
Emo-DB                1070  1070        1070   1070
English Assembly Six  2000  2000        2000   2000
IEMOCAP               2000  2000        2000   2000
RAVDESS               2000  2000        2000   2000
SAVEE                  960   960         960    960
TESS                  2000  2000        2000   2000

In [37]:
df = final_df.copy()

In [38]:
df

                    Dataset          X          Y Label type Label
0                     SAVEE  11.072353   0.911463   Descrete   ang
1                     SAVEE  14.956626   5.550555   Descrete   ang
2                     SAVEE   4.128321  16.469158   Descrete   ang
3                     SAVEE  13.266447   4.610169   Descrete   ang
4                     SAVEE  13.021703  -1.583670   Descrete   ang
...                     ...        ...        ...        ...   ...
12025  English Assembly Six  -6.218473   6.244618     Binary   neg
12026  English Assembly Six  -6.013014   1.597887     Binary   neg
12027  English Assembly Six  -0.014189  -0.685387     Binary   neg
12028  English Assembly Six   8.882513   6.433124     Binary  rest
12029  English Assembly Six  -9.972480   7.163386     Binary  rest

[12030 rows x 5 columns]

In [39]:
df = df.loc[df['Dataset'] == 'English Assembly Six']
df

                    Dataset          X          Y Label type Label
5015   English Assembly Six  -8.211324  -1.609832   Descrete   hap
5016   English Assembly Six  -1.174085  -4.767681   Descrete   neu
5017   English Assembly Six   3.424430  11.240694   Descrete   ang
5018   English Assembly Six  -9.817292   3.597966   Descrete   neu
5019   English Assembly Six  12.814199 -13.830514   Descrete   fea
...                     ...        ...        ...        ...   ...
12025  English Assembly Six  -6.218473   6.244618     Binary   neg
12026  English Assembly Six  -6.013014   1.597887     Binary   neg
12027  English Assembly Six  -0.014189  -0.685387     Binary   neg
12028  English Assembly Six   8.882513   6.433124     Binary  rest
12029  English Assembly Six  -9.972480   7.163386     Binary  rest

[2000 rows x 5 columns]

In [40]:
df.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        155  155  155         155
cal         10   10   10          10
dis         99   99   99          99
exc         52   52   52          52
fea         99   99   99          99
fru         94   94   94          94
hap        129  129  129         129
neg        601  601  601         601
neu        175  175  175         175
rest       399  399  399         399
sad        154  154  154         154
sur         33   33   33          33

In [41]:
df = df.drop(df[df.Label == 'cal'].index)
df = df.drop(df[df.Label == 'dis'].index)
df = df.drop(df[df.Label == 'exc'].index)
df = df.drop(df[df.Label == 'fru'].index)
df = df.drop(df[df.Label == 'sur'].index)
df.groupby('Label').count()

       Dataset    X    Y  Label type
Label
ang        155  155  155         155
fea         99   99   99          99
hap        129  129  129         129
neg        601  601  601         601
neu        175  175  175         175
rest       399  399  399         399
sad        154  154  154         154

In [42]:
df

                    Dataset          X          Y Label type Label
5015   English Assembly Six  -8.211324  -1.609832   Descrete   hap
5016   English Assembly Six  -1.174085  -4.767681   Descrete   neu
5017   English Assembly Six   3.424430  11.240694   Descrete   ang
5018   English Assembly Six  -9.817292   3.597966   Descrete   neu
5019   English Assembly Six  12.814199 -13.830514   Descrete   fea
...                     ...        ...        ...        ...   ...
12025  English Assembly Six  -6.218473   6.244618     Binary   neg
12026  English Assembly Six  -6.013014   1.597887     Binary   neg
12027  English Assembly Six  -0.014189  -0.685387     Binary   neg
12028  English Assembly Six   8.882513   6.433124     Binary  rest
12029  English Assembly Six  -9.972480   7.163386     Binary  rest

[1712 rows x 5 columns]

In [43]:
final_df

                    Dataset          X          Y Label type Label
0                     SAVEE  11.072353   0.911463   Descrete   ang
1                     SAVEE  14.956626   5.550555   Descrete   ang
2                     SAVEE   4.128321  16.469158   Descrete   ang
3                     SAVEE  13.266447   4.610169   Descrete   ang
4                     SAVEE  13.021703  -1.583670   Descrete   ang
...                     ...        ...        ...        ...   ...
12025  English Assembly Six  -6.218473   6.244618     Binary   neg
12026  English Assembly Six  -6.013014   1.597887     Binary   neg
12027  English Assembly Six  -0.014189  -0.685387     Binary   neg
12028  English Assembly Six   8.882513   6.433124     Binary  rest
12029  English Assembly Six  -9.972480   7.163386     Binary  rest

[12030 rows x 5 columns]

In [44]:
final_df = final_df.drop(final_df[final_df.Dataset == 'English Assembly Six'].index)
final_df

      Dataset          X          Y Label type Label
0       SAVEE  11.072353   0.911463   Descrete   ang
1       SAVEE  14.956626   5.550555   Descrete   ang
2       SAVEE   4.128321  16.469158   Descrete   ang
3       SAVEE  13.266447   4.610169   Descrete   ang
4       SAVEE  13.021703  -1.583670   Descrete   ang
...       ...        ...        ...        ...   ...
11025  Emo-DB   1.022930   3.696467     Binary  rest
11026  Emo-DB  -8.329073 -11.604169     Binary   neg
11027  Emo-DB  -8.987593 -11.300163     Binary   neg
11028  Emo-DB  18.990128  -7.925690     Binary   neg
11029  Emo-DB  22.039473  -8.479522     Binary   neg

[10030 rows x 5 columns]

In [45]:
final_df = pd.concat([df, final_df], ignore_index=True)
final_df

                    Dataset          X          Y Label type Label
0      English Assembly Six  -8.211324  -1.609832   Descrete   hap
1      English Assembly Six  -1.174085  -4.767681   Descrete   neu
2      English Assembly Six   3.424430  11.240694   Descrete   ang
3      English Assembly Six  -9.817292   3.597966   Descrete   neu
4      English Assembly Six  12.814199 -13.830514   Descrete   fea
...                     ...        ...        ...        ...   ...
11737                Emo-DB   1.022930   3.696467     Binary  rest
11738                Emo-DB  -8.329073 -11.604169     Binary   neg
11739                Emo-DB  -8.987593 -11.300163     Binary   neg
11740                Emo-DB  18.990128  -7.925690     Binary   neg
11741                Emo-DB  22.039473  -8.479522     Binary   neg

[11742 rows x 5 columns]

In [46]:
final_df.to_csv('tsne_results.csv', sep=';', index=False)