In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tsne_results_assembly.csv', delimiter=';')
df

                   Dataset          X          Y Label type Label
0     english-assembly-six   1.152320 -17.623642   Descrete   sad
1     english-assembly-six  11.280699   8.915481   Descrete   ang
2     english-assembly-six  -3.778280  -3.921791   Descrete   fru
3     english-assembly-six   3.810814 -15.613522   Descrete   sur
4     english-assembly-six  -9.526802   0.137508   Descrete   neu
...                    ...        ...        ...        ...   ...
4995  english-assembly-six  15.242076  -2.639175   Descrete   ang
4996  english-assembly-six -10.348310   1.035719   Descrete   fea
4997  english-assembly-six  -3.825421  10.653785   Descrete   hap
4998  english-assembly-six  -2.984990   2.080315   Descrete   neu
4999  english-assembly-six  -0.136015  15.176824   Descrete   hap

[5000 rows x 5 columns]

In [4]:
grp = df.groupby('Label').count()
grp

       Dataset    X    Y  Label type
Label
ang        776  776  776         776
cal         49   49   49          49
dis        494  494  494         494
exc        260  260  260         260
fea        494  494  494         494
fru        469  469  469         469
hap        645  645  645         645
neu        875  875  875         875
sad        770  770  770         770
sur        168  168  168         168

In [ ]:
df['Binary label'] = df['Label (binary)']
df

In [ ]:
df = df.drop(['Predicted label', 'True label', 'Label (descrete)', 'Label (binary)', 'Confusion matrix array'], axis=1)
df

In [ ]:
df = df.drop('Container', axis=1)
df

In [ ]:
df.loc[df['Binary label'] == 'not', 'Binary label'] = 'rest'

In [ ]:
df

In [ ]:
df['Label type'] = 'Descrete'

In [ ]:
df

In [ ]:
df['Label'] = df['Descrete label']
df

In [ ]:
df1 = df.copy()
df1

In [ ]:
df1['Label type'] = 'Binary'
df1['Label'] = df1['Binary label']
df1

In [ ]:
final_df = pd.concat([df, df1], ignore_index=True)
final_df

In [ ]:
f = final_df.groupby('Label type').count()

In [ ]:
final_df = final_df.drop(['Descrete label', 'Binary label'], axis=1)
final_df

In [ ]:
final_df.to_csv('tsne_results.csv', sep=';', index=False)

In [ ]:
final_df.groupby('Dataset').count()

In [ ]:
final_df.loc[final_df['Dataset'] == 'IEmoCap', 'Dataset'] = 'IEMOCAP'
final_df.groupby('Dataset').count()

In [ ]:
df = final_df.copy()

In [ ]:
df

In [ ]:
df = df.loc[df['Dataset'] == 'English Assembly Six']
df

In [ ]:
df.groupby('Label').count()

In [ ]:
df = df.drop(df[df.Label == 'cal'].index)
df = df.drop(df[df.Label == 'dis'].index)
df = df.drop(df[df.Label == 'exc'].index)
df = df.drop(df[df.Label == 'fru'].index)
df = df.drop(df[df.Label == 'sur'].index)
df.groupby('Label').count()

In [ ]:
df

In [ ]:
final_df

In [ ]:
final_df = final_df.drop(final_df[final_df.Dataset == 'English Assembly Six'].index)
final_df

In [ ]:
final_df = pd.concat([df, final_df], ignore_index=True)
final_df

In [ ]:
final_df.to_csv('tsne_results.csv', sep=';', index=False)

In [13]:
grp

                         X     Y  Label type  Label
Dataset
Crema-D               2000  2000        2000   2000
Emo-DB                1070  1070        1070   1070
English Assembly Six  1712  1712        1712   1712
IEMOCAP               2000  2000        2000   2000
RAVDESS               2000  2000        2000   2000
SAVEE                  960   960         960    960
TESS                  2000  2000        2000   2000

KeyError: 'Dataset'