In [1]:
import pandas as pd
import os

In [2]:
csvfiles = []
for file in os.listdir():
    if file.endswith('.csv'):
        csvfiles.append(file)
csvfiles

['crema-d_train_test_score.csv',
 'emo-db_train_test_score.csv',
 'iemocap_train_test_score.csv',
 'ravdess_train_test_score.csv',
 'savee_train_test_score.csv',
 'tess_train_test_score.csv']

In [ ]:
for csvfile in csvfiles:
    try:
        df = pd.read_csv(csvfile, delimiter=';')
        new_df = df.drop('Unnamed: 0', axis=1)
        new_df.to_csv(csvfile, index=False, sep=';')
        print('Done!')
    except KeyError:
        print('Key error in file {}'.format(csvfile))

In [3]:
csvfile = csvfiles[0]
df = pd.read_csv(csvfile, delimiter=';')
df

     n_neighbors  train_score  test_score
0              2     0.622290    0.241805
1              4     0.534134    0.261150
2              6     0.482172    0.282644
3              8     0.451711    0.290167
4             10     0.431822    0.288555
..           ...          ...         ...
144          290     0.321806    0.306287
145          292     0.323598    0.306824
146          294     0.324494    0.306824
147          296     0.321448    0.306287
148          298     0.318939    0.305212

[149 rows x 3 columns]

In [4]:
csvfile = csvfiles[1]
df = pd.read_csv(csvfile, delimiter=';')
df

     n_neighbors  train_score  test_score
0              2     0.690773    0.343284
1              4     0.655860    0.447761
2              6     0.608479    0.417910
3              8     0.583541    0.395522
4             10     0.576060    0.410448
..           ...          ...         ...
144          290     0.284289    0.298507
145          292     0.284289    0.291045
146          294     0.274314    0.283582
147          296     0.269327    0.283582
148          298     0.271820    0.276119

[149 rows x 3 columns]

In [5]:
csvfile = csvfiles[2]
df = pd.read_csv(csvfile, delimiter=';')
df

     n_neighbors  train_score  test_score
0              2     0.634721    0.242059
1              4     0.544724    0.293538
2              6     0.490142    0.277108
3              8     0.466229    0.296276
4             10     0.451625    0.301205
..           ...          ...         ...
144          290     0.327309    0.341183
145          292     0.327857    0.341183
146          294     0.326944    0.341183
147          296     0.327674    0.340635
148          298     0.328405    0.342278

[149 rows x 3 columns]

In [6]:
df = df[['n_neighbors', 'test_score']]
df

     n_neighbors  test_score
0              2    0.242059
1              4    0.293538
2              6    0.277108
3              8    0.296276
4             10    0.301205
..           ...         ...
144          290    0.341183
145          292    0.341183
146          294    0.341183
147          296    0.340635
148          298    0.342278

[149 rows x 2 columns]

In [7]:
df.idxmax()['test_score']

32

In [15]:
df.loc[[df.idxmax()['test_score']]]['n_neighbors'].values[0]

66