In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('ravdess_train_test_score.csv')
df

,Unnamed: 0,2,3,4,5,6,7,8,9,10,...,500,550,600,650,700,750,800,850,900,950
0,train_scores,0.625000,0.541667,0.530556,0.519444,0.478704,0.463889,0.458333,0.450000,0.453704,...,0.258333,0.250000,0.235185,0.227778,0.216667,0.224074,0.237963,0.219444,0.20463,0.188889
1,test_scores,0.263889,0.272222,0.263889,0.238889,0.269444,0.255556,0.272222,0.280556,0.294444,...,0.252778,0.252778,0.244444,0.230556,0.222222,0.219444,0.222222,0.205556,0.20000,0.177778