In [2]:
import pandas as pd

In [48]:
df = pd.read_csv('ravdess_train_test_score.csv', delimiter=';')
df

     Unnamed: 0  n_neighbors  train_score  test_score
0             0            2     0.621296    0.269444
1             1            4     0.539815    0.269444
2             2            6     0.487963    0.280556
3             3            8     0.437037    0.302778
4             4           10     0.423148    0.308333
..          ...          ...          ...         ...
144         144          290     0.289815    0.250000
145         145          292     0.288889    0.247222
146         146          294     0.288889    0.252778
147         147          296     0.292593    0.250000
148         148          298     0.288889    0.255556

[149 rows x 4 columns]

In [8]:
n_neighbors= df.columns.values[1:].tolist()

In [23]:
df = df.drop('Unnamed: 0', axis=1)

In [28]:
train_scores = df.loc[[0]].values.tolist()[0]
train_scores

[0.6212962962962963,
 0.5398148148148149,
 0.487962962962963,
 0.43703703703703706,
 0.42314814814814816,
 0.4101851851851852,
 0.4074074074074074,
 0.3990740740740741,
 0.39814814814814814,
 0.4046296296296296,
 0.3898148148148149,
 0.387037037037037,
 0.3824074074074074,
 0.3842592592592592,
 0.3898148148148149,
 0.3953703703703704,
 0.3851851851851852,
 0.3712962962962963,
 0.3657407407407408,
 0.36203703703703705,
 0.3592592592592593,
 0.3453703703703704,
 0.3601851851851852,
 0.35648148148148145,
 0.3490740740740741,
 0.3481481481481481,
 0.34074074074074073,
 0.3342592592592593,
 0.3314814814814815,
 0.33611111111111114,
 0.3398148148148148,
 0.3398148148148148,
 0.34074074074074073,
 0.337037037037037,
 0.33796296296296297,
 0.3342592592592593,
 0.3351851851851852,
 0.3287037037037037,
 0.33240740740740743,
 0.3240740740740741,
 0.325,
 0.32592592592592595,
 0.3231481481481481,
 0.3175925925925926,
 0.3157407407407408,
 0.3138888888888889,
 0.30925925925925923,
 0.3111111111111111,
 0.3101851851851852,
 0.3157407407407408,
 0.31666666666666665,
 0.3129629629629629,
 0.3157407407407408,
 0.3157407407407408,
 0.3175925925925926,
 0.3157407407407408,
 0.3157407407407408,
 0.32222222222222224,
 0.3194444444444444,
 0.31666666666666665,
 0.3138888888888889,
 0.3129629629629629,
 0.3148148148148148,
 0.3129629629629629,
 0.3212962962962963,
 0.3194444444444444,
 0.3203703703703704,
 0.3148148148148148,
 0.3083333333333333,
 0.3074074074074074,
 0.30277777777777776,
 0.30925925925925923,
 0.3083333333333333,
 0.30092592592592593,
 0.30462962962962964,
 0.3037037037037037,
 0.30092592592592593,
 0.3055555555555556,
 0.3074074074074074,
 0.30092592592592593,
 0.29907407407407405,
 0.2972222222222222,
 0.2972222222222222,
 0.29814814814814816,
 0.2953703703703704,
 0.2962962962962963,
 0.29814814814814816,
 0.29907407407407405,
 0.29907407407407405,
 0.2953703703703704,
 0.2962962962962963,
 0.2953703703703704,
 0.3,
 0.2972222222222222,
 0.30092592592592593,
 0.3037037037037037,
 0.3,
 0.30092592592592593,
 0.29907407407407405,
 0.2972222222222222,
 0.29814814814814816,
 0.3018518518518519,
 0.3018518518518519,
 0.3,
 0.2935185185185185,
 0.2962962962962963,
 0.29444444444444445,
 0.29444444444444445,
 0.29444444444444445,
 0.29444444444444445,
 0.2953703703703704,
 0.29444444444444445,
 0.2935185185185185,
 0.2935185185185185,
 0.3,
 0.30092592592592593,
 0.2972222222222222,
 0.30092592592592593,
 0.2972222222222222,
 0.2962962962962963,
 0.29259259259259257,
 0.29259259259259257,
 0.2898148148148148,
 0.2916666666666667,
 0.2953703703703704,
 0.29444444444444445,
 0.2935185185185185,
 0.29814814814814816,
 0.2953703703703704,
 0.2953703703703704,
 0.29259259259259257,
 0.2916666666666667,
 0.2888888888888889,
 0.2898148148148148,
 0.2916666666666667,
 0.2935185185185185,
 0.29074074074074074,
 0.29074074074074074,
 0.29259259259259257,
 0.29444444444444445,
 0.29444444444444445,
 0.29444444444444445,
 0.2953703703703704,
 0.29259259259259257,
 0.2898148148148148,
 0.2888888888888889,
 0.2888888888888889,
 0.29259259259259257,
 0.2888888888888889]

In [29]:
test_scores = df.loc[[1]].values.tolist()[0]
test_scores

[0.26944444444444443,
 0.26944444444444443,
 0.2805555555555556,
 0.30277777777777776,
 0.3083333333333333,
 0.3111111111111111,
 0.2916666666666667,
 0.3111111111111111,
 0.3194444444444444,
 0.3,
 0.30277777777777776,
 0.30277777777777776,
 0.3111111111111111,
 0.3111111111111111,
 0.29444444444444445,
 0.2972222222222222,
 0.29444444444444445,
 0.2888888888888889,
 0.3,
 0.3083333333333333,
 0.2972222222222222,
 0.30277777777777776,
 0.3111111111111111,
 0.31666666666666665,
 0.30277777777777776,
 0.3111111111111111,
 0.3,
 0.3055555555555556,
 0.3138888888888889,
 0.3,
 0.30277777777777776,
 0.31666666666666665,
 0.30277777777777776,
 0.2972222222222222,
 0.29444444444444445,
 0.30277777777777776,
 0.3083333333333333,
 0.3111111111111111,
 0.3083333333333333,
 0.31666666666666665,
 0.325,
 0.32222222222222224,
 0.31666666666666665,
 0.3,
 0.3111111111111111,
 0.3083333333333333,
 0.31666666666666665,
 0.3138888888888889,
 0.29444444444444445,
 0.2916666666666667,
 0.3,
 0.3,
 0.30277777777777776,
 0.3083333333333333,
 0.3194444444444444,
 0.30277777777777776,
 0.31666666666666665,
 0.3111111111111111,
 0.3111111111111111,
 0.3,
 0.2916666666666667,
 0.2972222222222222,
 0.29444444444444445,
 0.2972222222222222,
 0.2916666666666667,
 0.29444444444444445,
 0.2916666666666667,
 0.2916666666666667,
 0.2888888888888889,
 0.2888888888888889,
 0.2916666666666667,
 0.2833333333333333,
 0.2888888888888889,
 0.2805555555555556,
 0.2777777777777778,
 0.275,
 0.275,
 0.2777777777777778,
 0.26944444444444443,
 0.2777777777777778,
 0.2777777777777778,
 0.2722222222222222,
 0.2777777777777778,
 0.275,
 0.2722222222222222,
 0.2722222222222222,
 0.26944444444444443,
 0.26666666666666666,
 0.2611111111111111,
 0.25833333333333336,
 0.25833333333333336,
 0.25555555555555554,
 0.25,
 0.25277777777777777,
 0.25,
 0.25555555555555554,
 0.25555555555555554,
 0.25,
 0.25,
 0.25833333333333336,
 0.25,
 0.2416666666666667,
 0.2416666666666667,
 0.25277777777777777,
 0.25277777777777777,
 0.24722222222222226,
 0.24722222222222226,
 0.25555555555555554,
 0.25555555555555554,
 0.25,
 0.24722222222222226,
 0.25,
 0.24444444444444444,
 0.24444444444444444,
 0.2416666666666667,
 0.25,
 0.25555555555555554,
 0.25277777777777777,
 0.25,
 0.25555555555555554,
 0.25833333333333336,
 0.25277777777777777,
 0.24722222222222226,
 0.24722222222222226,
 0.25833333333333336,
 0.25833333333333336,
 0.2611111111111111,
 0.2638888888888889,
 0.26666666666666666,
 0.26944444444444443,
 0.25833333333333336,
 0.25833333333333336,
 0.25833333333333336,
 0.25277777777777777,
 0.25,
 0.25,
 0.25,
 0.25,
 0.24444444444444444,
 0.2416666666666667,
 0.24722222222222226,
 0.25277777777777777,
 0.24722222222222226,
 0.24722222222222226,
 0.25,
 0.24722222222222226,
 0.25277777777777777,
 0.25,
 0.25555555555555554]

In [30]:
data = {'n_neighbors': n_neighbors,
        'train_score': train_scores,
        'test_score': test_scores
       }
new_df = pd.DataFrame(data, columns=['n_neighbors', 'train_score', 'test_score'])
new_df

    n_neighbors  train_score  test_score
0             2     0.621296    0.269444
1             4     0.539815    0.269444
2             6     0.487963    0.280556
3             8     0.437037    0.302778
4            10     0.423148    0.308333
..          ...          ...         ...
144         290     0.289815    0.250000
145         292     0.288889    0.247222
146         294     0.288889    0.252778
147         296     0.292593    0.250000
148         298     0.288889    0.255556

[149 rows x 3 columns]